@-webkit-keyframes yellow-fade {   
   0% {background: rgba(245, 233, 132, 0.5);}
   100% {background: none;}
}

@keyframes yellow-fade {
   0% {background: rgba(245, 233, 132, 0.5);}
   100% {background: none;}
}

.item {
    -webkit-animation: yellow-fade 2s ease-in 1;
    animation: yellow-fade 2s ease-in 1;
}

ul.items {
    list-style: none;
    padding-left: 0;
    width: 360px;
}

ul.items > li {
    padding: 0.5em;
    margin: -0.5em;
}

ul#feeds {
    display: flex;
    overflow-x: scroll;
}

ul#feeds > li {
    list-style: none;
    margin-right: 2em;
    width: 360px;
}